.card {
    background-color: #e6e6ff; /*pour mieux situer les différents éléments, pas pour le rendu final*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.profilepic {
    background-color: #fec;
    align-self: flex-start;
    width: 85%;
    padding: 50px;
}
.about {
    background-color: #ffe6fb;
    width: 60%;
    align-self: center;
    font-size: xx-large;
    padding: 50px;
    
}

.stats {
    background-color: #ddffcc;
    font-size: xxx-large;
    width: 20%;
    padding: 30px;
}
.icons img {
    width: 20px;
    height: auto;
} /*pour réduire les icônes?*/
.buttons img {
    width: 10%;
    height: auto;
}

div {
    box-sizing: border-box;
}